/*.displaybox {
  border: 1px;
  border-style: solid;
  border-color: red;
}*/

select {
  margin: 5px;
}

.col-sm-9 {
  padding: 0;
}

.col-sm-3 {
  padding: 0;
}

.bg-success {
  text-align: center;
  font-size: 200%;
}

#orderTotal {
  display: none;
  text-align: center;
}

#extrasPicker {
  display: none;
}

.list-group-item {
  height: 60px;
}
